html {
  font-size: 20px;
}
body {
  max-width: 720px;
}
li {
  margin-bottom: 5px;
}
figcaption {
  font-style: italic;
}
.steps {
  counter-reset: item;
}
.steps li {
  list-style: none;
  margin-left: -15px;
  margin-bottom: 10px;
}
.steps li::before {
  content: "Step " counter(item) "\A";
  counter-increment: item;
  white-space: pre;
}
